<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>条件搜索</title>
        <link rel="stylesheet" type="text/css" href="css/interests.css">
		<script type="text/javascript" src="js/interests.js"></script>
		<script type="text/javascript" src="js/ForAll.js"></script>
    </head>
    <body>
		<div id="menu">
			<h1>OASIS</h1>
			<div id="modeSelect">
				<h2 onclick="jumpInterests();">统计数据</h2>
			</div>
		</div>
		<div id="filter">
			<div id="interestTable">
			<!-- 	<h1>兴趣点：</h1>
					<h2 class="intContent">con</h2> -->
			</div>
		</div>
    </body>
</html>