body{
	padding: 0rem;
	margin: 0rem;
}

#app{
	margin: 0 auto;
	width: 100%;
	height: 100%;
}

#container{
	height: 100%;
	width: 100%;
}

/* -----------header---------------- */
#header{
	width: 100%;
	background-color: rgba(18, 52, 121, 153);
	padding: 0;
}

#menu{
	border: 0rem;
}

#titleOASIS{
	padding-left: 2rem;
	padding-right: 2rem;
	color: white;
	line-height: 100%;
	font-size: x-large;
	float: left;
}

/* ------------------------- */

#main{
	background-image: url(../img/loginbac.jpeg);
	background-size: cover;
}

#app{
	height: calc(100vh);
}

#loginTable{
	margin: 0 auto;
	margin-top: 8rem;
	background-color: white;
	border-style: double;
	border-radius: 0.75rem;
	border-color: #000000;
	border-width: 0.1875rem;
	width: 28%;
	padding: 2rem 3rem;
	text-align: center;
}

#submitBtn{
	float: right;
}