<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.authormapper">

    <select id="getdocumentForAuthorActiceness" resultType="com.example.demo.po.documentForAuthorActiceness">
        select x.authorId as authorId,x.author_name as authorName,contentofdocument.year as year,citationcount,referencecount from contentofdocument inner join(
    select document_id,t.id as authorId,author_name from paperinformation inner join (
    select id,name,affiliation from author_simple where name like #{name})t
    on paperinformation .author_name=t.name and paperinformation .author_affname=t.affiliation)x
    on contentofdocument .id=x.document_id;
    </select>

    <select id="getdocumentForAuthorActicenessById" resultType="com.example.demo.po.documentForAuthorActiceness">
        select x.authorId as authorId,x.author_name as authorName,contentofdocument.year as year,citationcount,referencecount from contentofdocument inner join(
    select document_id,t.id as authorId,author_name from paperinformation inner join (
    select id,name,affiliation from author_simple where id =#{id})t
    on paperinformation .author_name=t.name and paperinformation .author_affname=t.affiliation)x
    on contentofdocument .id=x.document_id;
    </select>

    <select id="getAffIdByAffName" resultType="java.lang.Integer">
       select id from affiliation_simple where name =#{affname} limit 1;
    </select>
</mapper>